:root {
    --main: rgb(0, 255, 242);
    --secondary: rgb(255, 247, 0);
    --shadow: rgb(0, 178, 169);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-color: rgb(26, 26, 26);
    color: white;
    padding: 20px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 5px 8px rgb(0, 178, 169);
    position: fixed;
    width: 100%;
    z-index: 9999999;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

nav a.active {
    color: rgb(255, 247, 0);
}

nav a:hover {
    color: rgb(0, 255, 242);
    font-size: 20px;
    transition: all 0.3s ease;
}


body {
    background-color: rgba(0, 0, 0, 0.762);
    background-image: url('wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: soft-light;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;

}






.pesan {
    padding: 0 20px;
    margin-top: 100px;
    animation-duration: 2s;
    animation-name: slide-in-top;
}

.pesan h2 {
    text-align: center;
    color: var(--secondary);
    font-size: 40px;
}

.form-input {
    background-color: rgb(0, 0, 0);
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 8px var(--shadow);
    font-family: monospace;
}

.form-input button {
    width: 100%;
    padding: 10px 0;
    background-color: var(--secondary);
    border: none;
    border-radius: 10px;
    font-family: monospace;
}

.form-input button:hover {
    background-color: var(--main);
    cursor: pointer;
    transition: background-color 0.5s ease
}


form table {
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

form td {
    padding: 10px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--shadow);
    border-radius: 5px;
    font-size: 14px;
    background-color: black;
    color: white;

}

::placeholder {
    color: var(--shadow);
    font-family: monospace;
}

.kontak {
    animation-duration: 2s;
    animation-name: slide-in-bottom;
}

.kontak h2 {
    font-size: 40px;
    text-align: center;
    color: var(--secondary);
    margin: 50px 50px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    margin: 50px 50px;
}

.icon i {
    font-size: 50px;
    color: black;
    width: 100px;
    height: 70px;
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

.icon a {
    text-decoration: none;
}

.icon a:hover i {
    transform: translateY(-5px);
    background-color: var(--main);
    transition: ease 0.5s;
}


@keyframes slide-in-left {
    from {
        translate: 100vw 0;
        scale: 200% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}

@keyframes slide-in-right {
    from {
        translate: -50vw 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes slide-in-bottom {
    from {
        transform: translateY(100vh);
        opacity: 0%;
    }

    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes slide-in-top {
    from {
        transform: translateY(-100vh);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}